.cover__link {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 245px calc((100% - 560px)/2);
    background-image: url(../../../images/cover-trains.jpg);
    background-size: 100% 100%;
    color: inherit;
    z-index: 1;
}

.cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 1s ease-in-out;
}

.cover__link:hover::after {
    opacity: 0.8;
}

@media (max-width: 1100px) {
    .cover__link {
        padding: 195px calc((100% - 560px)/2);
    }
}

@media (max-width: 800px) {
    .cover__link {
        padding: 115px calc((100% - 560px)/2);
    }
}

@media (max-width: 720px) {
    .cover__link {
        padding: 70px calc((100% - 400px)/2);
    }
}

@media (max-width: 525px) {
    .cover__link {
        padding: 33px calc((100% - 288px)/2);
    }
}