.place__website-text {
    margin: 0 0 12px;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

@media (max-width: 780px) {
    .place__website-text {
        line-height: 12px;
    }
}

@media (max-width: 600px) {
    .place__website-text  {
        padding: 0 16px;
    }
}