@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

@import url(../blocks/body/body.css);
@import url(../blocks/body/__container/body__container.css);
@import url(../blocks/body/__container-max/body__container-max.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/links/links.css);
@import url(../blocks/links/__lang-link/links__lang-link.css);
@import url(../blocks/links/__lang-link/_activ/links__lang-link_acniv.css);
@import url(../blocks/lead/__figure/lead__figure.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);

@import url(../blocks/lead/__imag-polka/lead__imag-polka.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-normal/intro__list-normal.css);

@import url(../blocks/photo/photo.css);
@import url(../blocks/photo/__item/photo__item.css);

@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__website-text/place__website-text.css);
@import url(../blocks/place/__website-link/place__website-link.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__paragraf/place__paragraf.css);
@import url(../blocks/place/__paragraf-text/place__paragraf-text.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__text/cover__text.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__nav/footer__nav.css);
@import url(../blocks/links/_footer/links_footer.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);