.lead__caption {
    margin: 8px 0 0;
    align-self: flex-start;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 960px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media (max-width: 780px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media (max-width: 525px) {
    .lead__caption {
        padding-left: 16px;
    }
}