ul.links_footer li {
    margin: 0 18px 0 0;
}

@media (max-width: 740px) {
    .links_footer li {
        display: block;
    }
    
    ul.links_footer li {
        margin: 0 0 32px;
    }
    
    ul.links_footer li:last-child {
        margin: 0 0 32px;
    }
}